.container {
	font-family: 'Ruluko', sans-serif;
 	margin: 0px auto;
 	width: 700px;
}

.alphabet{
	display: inline-block;
}

.pole {
	width: 100px;
}

.fill {
	margin: 20px 0 0 0;
}
.blank {
	display: inline-block;
	height: 20px;
	width: 20px;
	border-bottom: 1px solid black;
	text-align: center;
}

.player {
	display: inline-block;
}